.header__icon-list > a > svg {
  width: 20px;
  height: 20px;
}
.header__ap-cartcount {
  background-color: var(--primary);
}
#vertical-menu-drawer .header__logo,
#vertical-menu-drawer .header-social,
#vertical-menu-drawer .header__secondary-links,
#vertical-menu-drawer .header-search {
  display: none;
}
.menu-vertical .vertical-nav__link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.header__logo {
  text-align: center;
}
@media (min-width: 1200px) {
  .btn-search-header {
    width: max-content;
  }
  .header_wrapper > .header__secondary-links,
  .header_wrapper > .header-logo {
    display: none;
  }
  #vertical-menu-drawer .header__logo,
  #vertical-menu-drawer .header-social,
  #vertical-menu-drawer .header-search {
    display: block;
  }
  #vertical-menu-drawer .header__secondary-links {
    display: flex;
  }
  .header-section-2 .drawer {
    max-width: 330px;
    transform: translate(0);
    visibility: visible;
    padding: 60px 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid rgb(var(--border-color));
  }
  .menu-vertical > .header__icon-wrapper,
  .menu-vertical .drawer__header,
  ap-comparecount#comparecount,
  .menu-vertical .header__list-social span,
  .drawer__footer--bordered {
    display: none;
  }
  #mini-cart .drawer__footer--bordered {
    display: block;
  }
  .header__logo-link {
    margin: auto;
  }
  .menu-vertical .header__list-social svg {
    display: block;
    width: 16px;
    height: 16px;
  }
  .menu-vertical .header__list-social {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__logo {
    margin-bottom: 40px;
  }
  .header-socia-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .menu-vertical .drawer__content {
    padding: 0;
    flex-grow: 0;
    overflow: unset;
  }
  .menu-vertical .predictive-search__input {
    margin-left: 0;
    min-width: unset;
    width: 100%;
  }
  .menu-vertical .predictive-search__form {
    min-height: 40px;
    justify-content: space-between;
    border: 1px solid;
    padding: 8px 8px 8px 20px;
  }
  .header-search {
    margin-bottom: 100px;
  }
  .vertiacl-nav-1_1_1 .vertical-nav__link {
    font-weight: 600;
    line-height: 30px;
  }
  .menu-vertical .header__secondary-links {
    justify-content: start;
    line-height: 1;
    max-height: 24px;
    margin-bottom: 240px;
    margin-top: 120px;
  }
}
@media (max-width: 1199px) {
  .menu-vertical,
  .header__secondary-links,
  .header-logo {
    width: 33.333%;
  }
  .header__logo-link {
    margin: auto;
  }
  .header_wrapper {
    min-height: 94px;
    padding: 0 15px;
  }
  .vertical-title,
  #comparecount {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-vertical,
  .header__secondary-links {
    width: 50%;
    order: 1;
  }
  .header-logo {
    width: 100%;
    order: 0;
    padding-top: 20px;
  }
  .header_wrapper {
    flex-wrap: wrap;
  }
}
